@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/opensans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Lemontuesday';
  src: url("../fonts/lemonTuesday/Lemontuesday.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/opensans/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-light';
  src: url("../fonts/opensans/OpenSans-light.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/robotoSlab/RobotoSlab-Bold.ttf") format("truetype"); }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  min-width: 1230px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.container {
  width: 1160px;
  margin: 0 auto;
  position: relative; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.green {
  color: #84c604; }

.orange {
  color: white;
  background: #fd4f10; }

i {
  padding-right: 6px; }

.hide {
  display: none; }

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0; }

button, button:active, button:focus {
  outline: 0; }
  button::-moz-focus-inner, button:active::-moz-focus-inner, button:focus::-moz-focus-inner {
    border: 0; }

h2 {
  font-family: Lemontuesday, sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 0 20px 50px;
  color: #32505a;
  margin: 0; }
  h2:before {
    content: '';
    background: url("../img/header-befour.png") no-repeat center;
    display: inline-block;
    width: 100px;
    height: 50px;
    padding-right: 40px; }
  h2:after {
    content: '';
    background: url("../img/header-after.png") no-repeat center;
    display: inline-block;
    width: 100px;
    height: 50px;
    padding-left: 40px; }

section {
  padding: 20px; }

.owl-carousel .owl-item img {
  max-width: 100%; }

.header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  .header .top-line {
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px; }
  .header .callback {
    color: #84c604;
    border: 1px solid #84c604;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    margin-left: 20px;
    font-family: OpenSans-Bold;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .header .callback:hover {
      background: #84c604;
      color: white; }
  .header .top-phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header .phone-bold {
    font-size: 18px;
    font-family: OpenSans-Bold; }
  .header .nav-clone {
    height: 50px;
    display: block;
    width: 100%;
    display: none; }
  .header nav {
    border-top: 1px solid #f2f2f2; }
    .header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 50px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
      padding: 0;
      overflow: hidden; }
      .header nav ul li {
        list-style-type: none;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .header nav ul li:first-child {
          background-image: url("../img/menu-arrow.png");
          background-position: right;
          background-repeat: no-repeat;
          position: relative; }
          .header nav ul li:first-child:hover {
            opacity: 0.5; }
          .header nav ul li:first-child a:hover {
            background: none;
            color: black; }
        .header nav ul li a {
          padding: 20px;
          color: black;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          text-transform: uppercase;
          font-family: OpenSans-Bold, sans-serif; }
          .header nav ul li a:hover {
            color: white;
            background: #84c604; }
        .header nav ul li ul.sub-menu {
          display: none; }
  .header .fixed {
    position: fixed;
    top: 0;
    text-align: center;
    background: white;
    z-index: 9999;
    width: 100%; }

.top-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 10px; }

.top-carousel button.owl-dot.active {
  background: #84c604; }

.top-carousel .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 50%; }

.top-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0; }
  .top-carousel .owl-nav button.owl-prev {
    background: url("../img/arrow2.png") no-repeat center;
    height: 60px;
    width: 60px;
    margin-left: 100px; }
  .top-carousel .owl-nav button.owl-next {
    background: url("../img/arrow1.png") no-repeat center;
    height: 60px;
    width: 60px;
    margin-right: 100px; }

.food-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 10px;
  background: #b3b3b3; }

.food-carousel button.owl-dot.active {
  background: #84c604; }

.food-carousel .owl-dots {
  text-align: center;
  display: block;
  margin: 50px auto 0;
  position: relative;
  z-index: 666;
  width: 100px; }

.food-carousel .owl-nav {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -5px; }
  .food-carousel .owl-nav button.owl-prev {
    background: url("../img/left-arrow.png") no-repeat center;
    height: 40px;
    width: 40px;
    margin-right: 50px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .food-carousel .owl-nav button.owl-prev:hover {
      opacity: 0.5; }
  .food-carousel .owl-nav button.owl-next {
    background: url("../img/right-arrow.png") no-repeat center;
    height: 40px;
    width: 40px;
    margin-left: 50px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .food-carousel .owl-nav button.owl-next:hover {
      opacity: 0.5; }

.slide {
  position: relative;
  height: 670px;
  width: 100%;
  background-image: url(../img/slider-image.jpg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .slide .slide-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slide .slide-info .slide-name {
      font-family: Lemontuesday, sans-serif;
      font-size: 110px;
      line-height: 100px;
      margin: 50px 0; }
    .slide .slide-info .slide-description {
      font-size: 26px;
      color: white;
      font-family: OpenSans-Italic, sans-serif; }
    .slide .slide-info .slide-more {
      padding: 20px 70px;
      width: 140px;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      margin: 50px 0;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .slide .slide-info .slide-more:hover {
        background: #b33000; }
  .slide .slide-sale {
    position: absolute;
    color: white;
    left: 50%;
    width: 138px;
    height: 138px;
    background: #d82024;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-family: OpenSans-Bold, sans-serif;
    text-align: center;
    font-size: 28px; }

.food-slide {
  width: 265px;
  text-align: center; }
  .food-slide .spec {
    position: absolute;
    top: 15px;
    right: 37px; }
  .food-slide img {
    margin: 0 auto; }
  .food-slide .food-slide__text {
    padding: 0 25px; }
  .food-slide .food-name {
    font-size: 20px;
    font-family: OpenSans-Bold, sans-serif;
    margin: 25px 0; }
  .food-slide .select {
    display: inline-block;
    position: relative;
    margin: 10px 0 0; }
    .food-slide .select:after {
      content: '';
      position: absolute;
      font-size: 20px;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      z-index: 999;
      background-image: url("../img/select-button.png");
      background-position: right;
      background-repeat: no-repeat;
      pointer-events: none; }
    .food-slide .select select {
      padding: 0 44px 0 13px;
      border: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: #f2f2f2;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      height: 25px; }
  .food-slide .food-info {
    font-size: 12px;
    font-family: OpenSans-light, sans-serif; }
  .food-slide .food-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px 0; }
    .food-slide .food-price .food-price__span {
      font-family: RobotoSlab-Bold, sans-serif;
      font-size: 22px; }
      .food-slide .food-price .food-price__span .food-price__small {
        font-size: 12px;
        padding-left: 5px;
        vertical-align: top; }
    .food-slide .food-price .food-price__number {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      width: 50px; }
      .food-slide .food-price .food-price__number img {
        width: 13px;
        display: inline-block; }
  .food-slide .food-addtocard a {
    padding: 13px 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .food-slide .food-addtocard a img {
      width: 22px; }
    .food-slide .food-addtocard a:hover {
      background: #b33000; }

.promo {
  background: url("../img/promo-bg.png") center no-repeat; }
  .promo .food-slide {
    background: white;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 1px #c5c4c47a;
            box-shadow: 0 0 1px #c5c4c47a;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 5px;
    padding: 10px 0 20px; }
    .promo .food-slide .new-label {
      position: absolute;
      top: -20px;
      left: -20px; }
  .promo .link-block {
    margin: 30px 0; }
    .promo .link-block a {
      display: inline-block;
      font-size: 18px;
      font-family: OpenSans-Bold, sans-serif;
      color: #999999;
      margin: 0 11px; }
    .promo .link-block .active-link {
      color: #fd4f10; }

.advantages__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .advantages__items .item {
    width: 200px;
    text-align: center;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 30px; }
    .advantages__items .item img {
      display: block;
      margin: 0 auto 25px; }

.contact {
  background: url("../img/form-bg.png") center no-repeat;
  color: white;
  padding: 70px;
  text-align: right; }
  .contact .contact__content {
    text-align: left;
    display: inline-block; }
  .contact h3 {
    font-family: Lemontuesday, sans-serif;
    font-size: 54px;
    margin-top: 0; }
  .contact p {
    margin-top: 30px;
    font-size: 12px; }
  .contact form input[type=submit] {
    font-size: 14px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    padding: 15px 50px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .contact form input[type=submit]:hover {
      cursor: pointer;
      background: #b33000; }
  .contact form input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
    margin-right: 35px;
    font-size: 14px; }
    .contact form input[type=text]::-webkit-input-placeholder {
      color: white; }
    .contact form input[type=text]::-moz-placeholder {
      color: white; }
    .contact form input[type=text]:-moz-placeholder {
      color: white; }
    .contact form input[type=text]:-ms-input-placeholder {
      color: white; }
    .contact form input[type=text]:focus {
      background: #ffffff33;
      outline: 0;
        outline-outline-offset: 0; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .about__content .about__content-text {
    width: 80%;
    padding: 20px 50px; }
    .about__content .about__content-text h4 {
      font-size: 24px;
      font-family: OpenSans-Bold, sans-serif; }
    .about__content .about__content-text p {
      font-size: 14px; }

.footer {
  background: #1a2d34;
  padding: 72px;
  font-size: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  .footer a {
    color: #6b96a5;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .footer a:hover {
      color: #d3f4ff; }
  .footer span {
    color: white;
    font-size: 14px; }
  .footer .footer__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px; }
  .footer .footer__menu-full {
    font-size: 14px; }
    .footer .footer__menu-full ul {
      margin: 0; }
    .footer .footer__menu-full li {
      line-height: 25px; }
      .footer .footer__menu-full li a {
        color: white; }
  .footer .sets-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .sets-wrap .sets-left {
      width: 200px;
      padding: 0 10px 0 0; }
  .footer .footer__info {
    padding: 30px 0 0; }
  .footer .footer-copyright {
    text-transform: uppercase;
    margin-right: 130px; }
  .footer .personal-data {
    text-decoration: underline; }
  .footer .social {
    float: right; }
    .footer .social a {
      margin: 0 10px; }
      .footer .social a:hover {
        opacity: 0.5; }
